(
    hash_map: {
        "models/xiake.glb": (
            name: "models/xiake.glb",
            state_to_animation_id: {
                4: 13,
                8: 20,
                128:1
            },
        ),
    },
)