(
    models: [
        (
            name: "xiake",
            path: "models/xiake.glb",
        ),
        (
            name: "test",
            path: "test/light.glb",
        ),
    ],
    scenes: [
        (
            name: "chiense",
            path: "scenes/city/chinese_house.glb",
        ),
        (
            name: "chiense_house_collision",
            path: "scenes/city/chinese_house_collision.glb",
        ),
    ],
    animation: [
        (
            name: "animation_db",
            path: "config/animation.ron",
        ),
    ],
)